<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">	
	<ion-back-button defaultHref="/tabs/tab1">
	</ion-back-button>	
</ion-buttons>
    <ion-title>Datos de contacto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-img src="/assets/foto.png"></ion-img>
  <ion-list lines="none">
      <ion-item href="#">
       <ion-icon ios="ios-call" md="md-call"></ion-icon>
        <ion-label>632-32-9668</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        <ion-label>jmolinafi18dw@ikzubirimanteo.com</ion-label>
      </ion-item>
      <ion-item href="#">
         <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon>
        <ion-label>Paseo duque de mandas 45</ion-label>
      </ion-item>
      <ion-item href="#">
<ion-icon ios="logo-linkedin" md="logo-linkedin"></ion-icon>        <ion-label>jefry-molina-766911153</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
