<ion-header>
  <ion-toolbar>
    <ion-title id=titulo>
      Curriculum vitae
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="principal">
  <ion-card class="welcome-card">
      <ion-img src="/assets/foto.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Jefry Molina Figueroa</ion-card-subtitle>
        <ion-card-title>Desarrollador Web</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Soy una persona autodidacta, que se adapta a cualquier situación, con experiencia en trabajo de grupo.</p>
      </ion-card-content>
    </ion-card> 
    </div>  
  <ion-list lines="none">
      <ion-item href="/experiencia">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Experiencia Laboral</ion-label>
      </ion-item>
      <ion-item href="/formacion">
        <ion-icon name="school"></ion-icon>
        <ion-label>Formacion Academica</ion-label>
      </ion-item>
      <ion-item href="/idiomas">
        <ion-icon name="ios-people"></ion-icon>
        <ion-label>Idiomas</ion-label>
      </ion-item>
      <ion-item href="/contacto">
       <ion-icon name="contact"></ion-icon>
        <ion-label>Datos de contacto</ion-label>
      </ion-item>
    </ion-list>
</ion-content>