<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">	
	<ion-back-button defaultHref="/tabs/tab1">
	</ion-back-button>	
</ion-buttons>
    <ion-title>Experiencia Laboral</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-img src="/assets/foto.png"></ion-img>
    <ion-list lines="none">
       <ion-item href="#">
         <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
        <ion-label>02/2018–05/2018</ion-label>
      </ion-item>
      <ion-item href="#">
      <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
        <ion-label>Técnico auxiliar de informatica(Erasmus+).</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
